*{
  .link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}


.navbar {
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active{
    background-color: #111;
    color: white;
  }
}